

nav li {
    display: inline;
    background-color: rebeccapurple;
}

nav li a {
    color: rgb(173, 124, 149);
}

input {
    border-radius: 10%;
}

body {
    background-color: rgb(180, 162, 171);
    color: rgb(98, 96, 163);
}

.nav-link {
    color: azure !important;
}